<app-list [list]="userlist"></app-list>

<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  <input type="text" name="name" placeholder="Enter Name" ngModel>
  <br> <br>
  <input type="password" name="password" placeholder="Enter Password" ngModel>
  <br> <br>
  <button type="submit">Login</button>
</form>

<br>
<br>

<form [formGroup]="form" (ngSubmit)="onSubmitReactiveForm()"> 
<div>
  <label>Enter your Name: </label>
  <input formControlName="name">
  <p *ngIf="form.get('name').dirty && form.get('name').hasError('required')  " style="color: red;">Please enter a Valid Input!!!</p>
</div>

<div>
  <label>Enter your LastName: </label>
  <input formControlName="lastname">
</div>

<div>
  <label>Enter your City</label>
  <input formControlName="city">
</div>
<div formGroupName="address">
<div>
  <label>Enter your Street</label>
  <input formControlName="street">
</div>

<div>
  <label>Enter Home Number</label>
  <input formControlName="homenumber" >
</div>
</div>
<button type="submit" [disabled]="form.invalid">submit</button>
</form>